<style>
    html {
        background: url('public/img/CapeMayHotels.jpg') no-repeat center center fixed;
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        Accomodations
    </div>
    <div class="detailbox whitebox high-opacity">
        <h3>Wildwood Hotels (tends to be cheaper than Cape May)</h3>
        <hr>
        <b><a class="obvious" target="_new" href="http://www.lotusinn.com/">Lotus Inn</a></b>
        &nbsp;|&nbsp;
        Starting at $92/night
        &nbsp;|&nbsp;
        6.5 miles from ceremony site
        &nbsp;|&nbsp;
        800-522-6306
        <hr>
        <b><a class="obvious" target="_new" href="http://www.acaciabeachfrontresort.com/">Acacia Beachfront Resort</a></b>
        &nbsp;|&nbsp;
        Starting at $120/85 (Sat/Sun)
        &nbsp;|&nbsp;
        5.6 miles away
        &nbsp;|&nbsp;
        609-729-2233
    </div>
    <div class="detailbox whitebox high-opacity">
        <h3>Cape May Hotels (Ultimately closer to everything for the wedding)</h3>
            <hr>
            <b><a class="obvious" target="_new" href="http://www.buckinghammotel.com">Buckingham Motel</a></b>
            &nbsp;|&nbsp;
            Starting at $120/night
            &nbsp;|&nbsp;
            0.2 miles away
            &nbsp;|&nbsp;
            609-884-4073
            <hr>
            <b><a class="obvious" target="_new" href="http://www.summercottageinn.com">Summer Cottage Inn</a></b>
            &nbsp;|&nbsp;
            Starting at $195/165 (Sat/Sun)
            &nbsp;|&nbsp;
            0.6 miles away
            &nbsp;|&nbsp;
            609-884-4948
            <hr>
            <b><a class="obvious" target="_new" href="http://www.victorianmotelnj.com/">Victorian Motel</a></b>
            &nbsp;|&nbsp;
            Starting at $145/night
            &nbsp;|&nbsp;
            0.9 miles away
            &nbsp;|&nbsp;
            609-884-7044
            <hr>
            <b><a class="obvious" target="_new" href="http://www.grandhotelcapemay.com">The Grand Hotel</a></b>
            &nbsp;|&nbsp;
            Starting at $180/$120 (Sat/Sun)
            &nbsp;|&nbsp;
            0.1 mile away
            &nbsp;|&nbsp;
            800-257-8550
    </div>
    <div class="detailbox whitebox high-opacity">
        <p>Please keep in mind that we tried to find the absolute best prices for each area, but it is completely up to you as to where you would like to stay. None of the above are “group rates”; none of the hotels we talked to (50+!) were willing to give group rates.</p>
        <p>If you intend to make a mini vacation out of the weekend (as we know some of you are) and would like to spend a little more for a better room, we recommend 931 Beach Guest House, The Virginia Hotel, The Chalfonte, or the Beach Shack (pet friendly), or any of the adorable B&amp;Bs in the area. These places start at about $200-$300/night and have very good reviews.</p>
        <p>As for Wildwood, we will tell you that there is a Fireman's Convention going on the weekend of our wedding, so some hotels are completely booked up. The ones I listed above have available rooms.</p>
        <p>If you have any questions or concerns or need help, you can always call or text either one of us. Please let us know if you run into any problems!</p>
    </div>
</div>
