<style>
    html {
        background: url('public/img/CapeMayHotels.jpg') no-repeat center center fixed;
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        Accomodations
    </div>
    <div class="detailbox whitebox high-opacity">
        <h3>Wildwood Hotels (tends to be cheaper than Cape May)</h3>
        <hr>
        <b><a class="obvious" target="_new" href="http://www.lotusinn.com/">Lotus Inn</a></b>
        &nbsp;|&nbsp;
        Starting at $92/night
        &nbsp;|&nbsp;
        6.5 miles from ceremony site
        &nbsp;|&nbsp;
        800-522-6306
        <hr>
        <b><a class="obvious" target="_new" href="http://www.acaciabeachfrontresort.com/">Acacia Beachfront Resort</a></b>
        &nbsp;|&nbsp;
        Starting at $120/85 (Sat/Sun)
        &nbsp;|&nbsp;
        5.6 miles away
        &nbsp;|&nbsp;
        609-729-2233
    </div>
    <div class="detailbox whitebox high-opacity">
        <h3>Cape May Hotels (Ultimately closer to everything for the wedding)</h3>
            <hr>
            <b><a class="obvious" target="_new" href="http://www.buckinghammotel.com">Buckingham Motel</a></b>
            &nbsp;|&nbsp;
            Starting at $120/night
            &nbsp;|&nbsp;
            0.2 miles away
            &nbsp;|&nbsp;
            609-884-4073
            <hr>
            <b><a class="obvious" target="_new" href="http://www.summercottageinn.com">The Summer Cottage Inn</a></b>
            &nbsp;|&nbsp;
            Starting at $165/night
            &nbsp;|&nbsp;
            0.6 miles away
            &nbsp;|&nbsp;
            609-884-4948
            <hr>
            <b><a class="obvious" target="_new" href="http://www.victorianmotelnj.com/">Victorian Motel</a></b>
            &nbsp;|&nbsp;
            Starting at $155/night
            &nbsp;|&nbsp;
            0.9 miles away
            &nbsp;|&nbsp;
            609-884-7044
            <hr>
            <b><a class="obvious" target="_new" href="http://www.heritageinncapemay.com">The Heritage Inn</a></b>
            &nbsp;|&nbsp;
            Starting at $155/night
            &nbsp;|&nbsp;
            0.4 miles away
            &nbsp;|&nbsp;
            609-884-7300
            <hr>
            <b><a class="obvious" target="_new" href="http://www.grandhotelcapemay.com">The Grand Hotel</a></b>
            &nbsp;|&nbsp;
            Starting at $180/$120 (Sat/Sun)
            &nbsp;|&nbsp;
            0.1 mile away
            &nbsp;|&nbsp;
            800-257-8550

    </div>
</div>
