<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div.menubox > div {
        background-image: url('/public/img/beach2.jpg');
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        The ceremony will be on the beach at 11AM on Sunday September 20th.
    </div>
    <div class="detailbox" style="overflow-x: visible; height: 200px; position: relative;">
        <a target="_new" href="https://www.google.com/maps/place/Beach+Ave+%26+Philadelphia+Ave,+Cape+May,+NJ+08204/@38.9314418,-74.9079654,17z/data=!4m2!3m1!1s0x89bf5468223206e7:0x356fbdc4284fe992">
            <img style="float: right; border-radius: 5px; border: 1px solid #666" src="public/img/beach_and_philadelphia.png"/>
        </a>
        <span class="left">The ceremony will take place at the intersection of Philadelphia Avenue and Beach Avenue in Cape May, NJ. Bring a few quarters in case the meters on Beach Avenue need them during off season. The ceremony will be on the left hand side and there is a rest room nearby if needed.</span>
        <br style="clear: both" />
    </div>
    <div class="detailbox">
        Should it rain on the day of the wedding, the ceremony will be at <a href="/#/reception">The Lobster House in Cape May.</a>
    </div>
    <div class="detailbox">
        Attire: <b>Casual</b>. Please don't show up in a suit and tie. We're on the beach, for God's sake! Wear something comfortable and breathable.
    </div>
</div>
