<style>
    html {
        background: url('public/img/SIeng_2463.jpg') no-repeat center center fixed;
    }
</style>
<div style="width: 100%; text-align: center;" class="detailboxparent">
    <div class="detailbox">
        The Ceremony
    </div>
    <div class="detailbox">
        <b>When?</b> From 11:00am til ~11:20am, on Sunday, September 20th, 2015.
    </div>
    <div class="detailbox map">
        <a target="_new" href="https://www.google.com/maps/place/Beach+Ave+%26+Philadelphia+Ave,+Cape+May,+NJ+08204/@38.9314418,-74.9079654,17z/">
            <img style="float: right; border-radius: 5px; border: 1px solid #666" src="public/img/beach_and_philadelphia.png"/>
        </a>
        <span class="left"><b>Where?</b> At the intersection of Philadelphia Avenue and Beach Avenue in Cape May, NJ. Bring a few quarters for meters (sorry!). The ceremony will be on the left hand side and there is a rest room nearby if needed.</span>
        <br style="clear: both" />
    </div>
    <div class="detailbox">
        <b>What?</b> Casual attire. Please don't show up in a suit and tie. We're on the beach, for God's sake! Wear something comfortable and breathable.
    </div>
    <div class="detailbox">
        <b>What if?</b> Should it rain on the day of the wedding, the ceremony will be at <a href="/#/reception">The Lobster House in Cape May.</a>
    </div>
</div>
