<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div.menubox > div {
        background-image: url('/public/img/beach2.jpg');
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        Contributions
    </div>
    <div class="detailbox">
        <p>We're having a very small, intimate wedding and, naturally, we're trying to do it on a budget.</p>
        <p>We were wondering if we could borrow certain things for the party to make our day perfect.</p>
        <p>We appreciate any help, but please don't feel obligated. Your presence in and of itself means the world to us!</p>
    </div>
    <div class="detailbox">
        
    </div>
</div>
