<style>
    html {
        background: url('public/img/SIeng_2256.jpg') no-repeat center center fixed;
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        Contributions
    </div>
    <div class="detailbox">
        <p>We're having a very small, intimate wedding and, naturally, we're trying to do it on a budget.</p>
        <p>For a few odds and ends, we were wondering if we could borrow certain things for the party to make our day perfect, or if anybody had any idea where to purchase things cheaply, please let us know!</p>
        <p>We appreciate any help, but please don't feel obligated (that goes for gifts too). We will buy whatever we need closer to the date. You guys are our closest family and friends and your presence in and of itself means the world to us!</p>
    </div>
    <div class="detailbox">
        <h3>Things We Need</h3>
        <ol>
            <li>Signage for the ceremony</li>
            <li>A large wicker basket for shoes on the beach</li>
            <li>Large coolers for water during the ceremony</li>
            <li>A speaker/amp that can connect to an MP3 player for ceremony music and vows</li>
            <li>Cake stands/tiers/serving utensils for reception desserts</li>
            <li>Would anyone mind overseeing music during the reception just to make sure the right playlist is on?</li>
            <li>Would anyone like to Emcee for certain events (introductions/activities/etc.)?</li>
            <li>Would anyone be willing to help decorate the reception hall the morning of our wedding day? Assuming that someone is staying over the night before and wants to be up and help us at 5am.</li>
            <li>For all you craft people, does anyone have large rolls of decorative material (like tulle) in orange/aqua/white that we could use to decorate the place with (prior to us buying a ton of it)?</li>
            <li>Would anyone be willing to bring out the desserts after dinner and set up that table?</li>
            <li>Anyone willing to help set-up the ceremony site prior to 11AM?</li>
        </ol>
    </div>
    <div class="detailbox" ng-if="contributions.length > 0">
        <h3>Already Contributed</h3>
        <table class="contributions" border="0">
            <tr>
                <th>Name</th>
                <th>Contribution</th>
            </tr>
            <tr ng-repeat="contribution in contributions">
                <td>{{contribution.name}}</td>
                <td>{{contribution.contribution}}</td>
            </tr>
        </table>
    </div>
    <div class="detailbox">
        <h3>Lend a Hand</h3>
        <div class="text-left">
            <label style="font-weight: bold">Your Name: <input ng-model="newContribution.name" size="30"></label>
        </div>
        <textarea ng-model="newContribution.contribution" placeholder="What would you like to help with?"></textarea>
        <i>Have questions? Email Ian (<a href="mailto:ian@mcdevi.tt">ian@mcdevi.tt</a>) or Steph (<a href="mailto:stephanie.gerhat@gmail.com">stephanie.gerhat@gmail.com</a>).</i><br>
        <button ng-click="submit()">Submit</button>
    </div>
</div>
