<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        The ceremony will be on the beach at 11AM on Sunday September 20th.
    </div>
    <div class="detailbox">
        at the intersection of Philadelphia Avenue and Beach Avenue in Cape May, NJ. Bring a few quarters in case the meters on Beach Avenue need them during off season. The ceremony will be on the left hand side and there is a rest room nearby if needed. (Image of Google Map Intersection with link to Google Maps)
    </div>
    <div class="detailbox">
        Should it rain on the day of the wedding, the ceremony will be at The Lobster House in Cape May.
    </div>
    <div class="detailbox">
        By 11:30AM, our beach permit has expired and we ask you to meet us at The Lobster House at noon for the reception. The reception will be from 12PM to 4PM in the upper room of the restaurant.
    </div>
    <div class="detailbox">
        The Address to The Lobster House: 906 Schellengers Landing Road, Cape May, NJ 080204 (Picture of Lobster House?)
    </div>
    <div class="detailbox">
        Attire: Casual. Please don't show up in a suit and tie. We're on the beach, for God's sake! Wear something comfortable and breathable.
    </div>

</div>
