<style>
    html {
        background: url('public/img/beach.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div style="width: 100%; text-align: center;">
    <a href="/#/ceremony">
        <div class="homebox">
            <p>Gerhat-McDevitt Wedding</p>
            <p>Sunday, September 20th, 2015</p>
        </div>
    </a>
    <div class="homebox">
        <p>If you found this page, you're invited to our wedding! Yay!</p>
        <p>Our guest list is small, for a number of reasons, but we love you, and we hope you can spend our special day with us!</p>
    </div>

</div>
