<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        The reception will be from 12PM to 4PM in the upper room of the restaurant.
    </div>
    <div class="detailbox">
        By 11:30AM, our beach permit has expired and we ask you to meet us at The Lobster House at noon for the reception. 
    </div>
    <div class="detailbox">
        The Address to The Lobster House: 906 Schellengers Landing Road, Cape May, NJ 080204 (Picture of Lobster House?)
    </div>

</div>
