<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div.menubox > div {
        background-image: url('/public/img/beach2.jpg');
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        The Reception
    </div>
    <div class="detailbox">
        <b>When?</b> From 12:00pm to 4:00pm.
    </div>
    <div class="detailbox map">
        <a target="_new" href="https://www.google.com/maps/place/The+Lobster+House/@38.949408,-74.906854,17z/data=!3m1!4b1!4m2!3m1!1s0x89bf544daff5c3eb:0x8f4254319399ceca">
            <img style="float: right; border-radius: 5px; border: 1px solid #666" src="public/img/109_and_schellenger.png"/>
        </a>
        <span class="left" style="width: calc(100% - 332px)">
            <b>Where?</b> We ask you to meet us in the upper room of The Lobster House for the reception.
            <br>The Lobster House is at: 906 Schellengers Landing Road, Cape May, NJ 08204
        </span>
        <br style="clear: both" />
    </div>
    <div class="detailbox">
        <b>What?</b> Entree options can be selected <a href="/#/rsvp">on the RSVP page</a>.
    </div>

</div>
