<style>
    html {
        background: url('public/img/beach2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div.menubox > div {
        background-image: url('/public/img/beach2.jpg');
    }
</style>
<div style="width: 100%; text-align: center;">
    <div class="detailbox">
        The Reception
    </div>
    <div class="detailbox">
        <b>When?</b> From 12:00pm to 4:00pm.
    </div>
    <div class="detailbox">
        <b>Where?</b> We ask you to meet us in the upper room of The Lobster House for the reception.
        <br>The Lobster House is at: 906 Schellengers Landing Road, Cape May, NJ 080204
    </div>
    <div class="detailbox">
        <b>What?</b> Entree options can be selected <a href="/#/rsvp">on the RSVP page</a>.
    </div>

</div>
