<style>
    html {
        background: url('public/img/beach3.jpg') no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    div.menubox > div {
        background-image: url('/public/img/beach3.jpg');
    }
</style>
<div style="width: 100%; text-align: center;" ng-show="invitation">
    <div class="detailbox">
        {{invitation.name}}
    </div>
    <div class="detailbox whitebox">
        <table class="rsvp">
            <tr>
                <th>Guest Name</th>
                <th>Attending</th>
                <th>Entree</th>
            </tr>
            <tr ng-repeat="guest in invitation.guests">
                <td>{{guest.name}}</td>
                <td>
                    <label><input type="radio" ng-model="guest.attending" value="true">&nbsp;Yes</label>
                    &nbsp;
                    <label><input type="radio" ng-model="guest.attending" value="false">&nbsp;No</label>
                </td>
                <td>
                    <label><input type="radio" ng-model="guest.entree" value="chicken">&nbsp;Chicken Francaise</label>
                    &nbsp;
                    <label><input type="radio" ng-model="guest.entree" value="beef">&nbsp;Petite Filet Mignon</label>
                    &nbsp;
                    <label>
                        <span class="tooltip" title="Scallops, shrimp, flounder, stuffed clam, and crab cake">
                            <input type="radio" ng-model="guest.entree" value="seafood">&nbsp;Broiled Fisherman's Wharf Platter<sup>?</sup>
                        </span>
                    </label>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Accomodations</h3>
        <div class="accomodations">
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="group_rates">
                    We will be staying in Cape May. Let us know if you can get group rates.
                </label>
            </div>
            <div class="nights" ng-show="invitation.accomodations == 'group_rates'">
                Which nights will you be staying?
                <label>
                    <input type="checkbox" ng-model="invitation.friday">
                    Friday
                </label>
                <label>
                    <input type="checkbox" ng-model="invitation.saturday">
                    Saturday
                </label>
                <label>
                    <input type="checkbox" ng-model="invitation.sunday">
                    Sunday
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="own_accomodations">
                    We will be staying in Cape May, but we have our own accommodations.
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="same_day">
                    We will be driving down and back same day.
                </label>
            </div>
        </div>
        <hr>
        <button ng-click="submit()">Submit</button>
    </div>
</div>
