<style>
    html {
        background: url('public/img/CapeMayBoatLR.jpg') no-repeat center center fixed;
    }
</style>
<div style="width: 100%; text-align: center;" ng-show="invitation">
    <div class="detailbox">
        {{invitation.name}}
    </div>
    <div class="detailbox whitebox">
        <table class="rsvp">
            <tr>
                <th></th>
                <th colspan="2">Attending</th>
                <th colspan="3">Entree</th>
            </tr>
            <tr>
                <th>Guest Name</th>
                <th>Yes</th>
                <th>No</th>
                <th>Chicken Francaise</th>
                <th>Petite Filet Mignon</th>
                <th>
                    <span class="tooltip" title="Scallops, shrimp, flounder, stuffed clam, and crab cake">
                        Fisherman's Wharf Platter<sup>?</sup>
                    </span>
                </th>
            </tr>
            <tr ng-repeat="guest in invitation.guests">
                <td ng-if="guest.isGuest">
                    Guest: <input type="text" ng-model="guest.name">
                </td>
                <td ng-if="!guest.isGuest">{{guest.name}}</td>
                <td><input type="radio" ng-model="guest.attending" value="1"></td>
                <td><input type="radio" ng-model="guest.attending" value="0"></td>
                <td><input type="radio" ng-model="guest.entree" value="chicken"></td>
                <td><input type="radio" ng-model="guest.entree" value="beef"></td>
                <td><input type="radio" ng-model="guest.entree" value="seafood"></td>
            </tr>
        </table>
        <hr>
        <h3>Accomodations</h3>
        <div class="accomodations">
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="group_rates">
                    We will be staying in Cape May. Let us know if you can get group rates.
                </label>
            </div>
            <div class="nights" ng-show="invitation.accomodations == 'group_rates'">
                Which nights will you be staying?
                <label>
                    <input type="checkbox" ng-model="invitation.friday">
                    Friday
                </label>
                <label>
                    <input type="checkbox" ng-model="invitation.saturday">
                    Saturday
                </label>
                <label>
                    <input type="checkbox" ng-model="invitation.sunday">
                    Sunday
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="own_accomodations">
                    We will be staying in Cape May, but we have our own accommodations.
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" ng-model="invitation.accomodations" value="same_day">
                    We will be driving down and back same day.
                </label>
            </div>
        </div>
        <hr>
        <h3>Comments</h3>
        <textarea ng-model="invitation.comments" placeholder="e.g., allergies, extenuating circumstances, pleading for mercy because you can't make it"></textarea>
        <hr>
        <button ng-click="submit()">Submit</button>
    </div>
</div>
