/* app css stylesheet */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
	overflow-y: scroll;
    margin-top: 0px;
    margin-left: 0px;
}
body * {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
}
.error {
    color: red;
    text-align: center;
}
div.menubox {
    height: 18px;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu {
    list-style: none;
    float: left;
}
.menu:before {
  content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.menu.right {
    float: right;
}
.arrow-right {
    width: 0; 
    height: 0;
    float: left;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.arrow-right.white{
    border-left: 15px solid #FFFFFF;
    background: #ED1C24;
}
.arrow-right.red {
    border-left: 15px solid #ED1C24;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
#modal {
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: center;
}
#modal > img {
    position: relative;
    margin: 20% auto;
    width: 128px;
    height: 128px;
}
#modal.modalDialog {
    opacity:1;
    pointer-events: auto;
}

.bold {
    font-weight: bold;
}
.italic {
	font-style: italic;
}
.spell {
    width: 800px;
	margin-left: auto;
	margin-right: auto;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    div.spell{
        page-break-inside: avoid;
    }
}
.spell .select_hide {
    display:inline-block;
	vertical-align:top;
	overflow:hidden;
	border:solid grey 1px;
}
.spell select {
    width: 150px;
	margin: 0px 10px;
	overflow-y: hidden;
	padding: 5px;
	margin: 0px 10px;
}
h1 {
	font-size: 1.5em;
}
pre {
    font-family: monospace !important;
}
.beast {
    border-top: 1px solid black;
    height: 27px;
}
.beast.odd{
    background-color: #DDD;
}
.beast.title {
    border-top-width: 0px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.beast.title div.line > div {
    height: 17px;
    width: 59px;
    border-left: 1px solid black;
    cursor: pointer;
}
.beast.title div.line > div:first-child {
    border-left: 0px;
}
.beast.title div.line > div > span {
    float: right;
}
.beast div.line > div {
    width: 60px;
    padding: 5px;
    float: left;
    text-align: center;
}
.beast div.line > div:first-child {
    width: 130px;
    text-align: left;
    padding-left: 10px;
}
.beast div.line > div:nth-child(6) {
    width: 90px;
}
.beast div.line > div:nth-child(10) {
    width: 90px;
}
hr {
    color: transparent;
    height: 0px;
    width: 0px;
    opacity: 0;
    clear: both;
    margin: 0px;
    padding: 0px;
}
.shapeshift-input {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 5px;
}
.shapeshift-input span{
    float: left;
    width: 100px;
    text-align: left;
}
.shapeshift-input input, .shapeshift-input select{
    box-sizing: border-box;
    float: right;
    width: 150px;
    height: 20px;
    margin: 5px 0px;
}
span.tooltip {
    vertical-align: super;
    font-size: 0.8em;
    float: none !important;
}
div[qtip] {
    cursor: help;
}
#filter-toggle {
    height: 100vh;
    width: 10px;
    background-color: #CCC;
    float: left;
    text-align: center;
    line-height: 100vh;
    cursor: pointer;
    border: 1px solid #999;
    border-width: 0px 1px 0px 1px;
}
stat-block {
    margin-left: 8px;
}
table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}
th, td {
    width: 50px;
    text-align: center;
}
