/* app css stylesheet */
body {
	overflow-y: scroll;
    margin: 0px;
}
body * {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
div.menubox {
    height: 40px;
    margin-bottom: 1px;
    text-align: center;
    background-color: white;
}
.menu {
    height: 30px;
    margin: 0 auto;
    padding: 5px;
    list-style: none;
}
.menu > li {
    display: inline;
    padding: 10px;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.menu > li > a {
    font-size: 20px;
    line-height: 30px;
}
.homebox {
    width: 650px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    opacity: 0.7;
}
.homebox:nth-child(1) p {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
.homebox:nth-child(2) p {
    font-size: 1.2em;
}
a {
    color: black;
    text-decoration: none;
}
