/* app css stylesheet */
body {
	overflow-y: scroll;
    margin: 0px;
}
body * {
    font-family: 'Roboto', sans-serif;
    color: #222;
}
div.menubox {
    height: 40px;
    margin-bottom: 1px;
    text-align: center;
    background-color: white;
    position: relative;
}
div.menubox > div {
    position: absolute;
    bottom: -7px;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: initial;
    background-size: 100% 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
}
div.menubox > div > a {
    text-transform: uppercase;
    display: inline;
    padding: 0px 5px;
    color: white;
}
.homebox {
    width: 550px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    opacity: 0.7;
}
.homebox:nth-child(1) p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
}
.homebox:nth-child(2) p {
    font-size: 1em;
    line-height: 1.6em;
}
a {
    color: #222;
    text-decoration: none;
}
.detailbox {
    width: 60%;
    max-width: 1000px;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 35px;
    margin-bottom: 50px;
    opacity: 0.95;
    box-shadow: 0px 10px 20px #444;
    font-size: 16px;
    line-height: 32px;
    overflow: hidden;
}
.detailbox:nth-child(even) {
    background-color: #FA7B0C;
}
.detailbox:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    background-color: white;
    opacity: 0.85;
    margin-top: 50px;
}
.detailbox:before,
.detailbox:after {
  content:"";
  display:table;
}
.detailbox:after {
  clear:both;
}
.detailbox {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.detailbox .left {
  float: right;
  width: calc(100% - 232px);
  padding-right: 30px;
  padding-top: 30px;
}
