/* app css stylesheet */
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
	overflow-y: scroll;
    margin: 0px;
    color: #222;
}
body * {
    font-family: 'Handlee', sans-serif;
}
div.menubox {
    height: 40px;
    text-align: center;
    background-color: white;
    position: relative;
}
div.menubox > div {
    height: 37px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}
div.menubox > div > * {
    font-family: 'Handlee', sans-serif;
    font-size: 0.85em;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 2px;
    color: aqua;
}
div.menubox > div > a.active {
    color: #FF9538;
}
hr.half {
    width: 50%;
}
.homebox {
    width: 550px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    opacity: 0.7;
}
.homebox:nth-child(1) p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
}
.homebox:nth-child(2) p {
    font-size: 1em;
    line-height: 1.6em;
}
a:not(.obvious) {
    color: #222;
    text-decoration: none;
}
.detailbox {
    width: 30%;
    max-width: 1000px;
    min-width: 700px;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 35px;
    margin-bottom: 50px;
    opacity: 0.8;
    box-shadow: 0px 10px 20px #444;
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
}z
.detailbox.map {
    overflow-x: visible;
    height: 200px;
    position: relative;
}
.detailbox.whitebox {
    background-color: white !important;
}
.detailbox.whitebox.high-opacity {
    opacity: 0.95;
}
.detailbox:nth-child(even) {
    background-color: #FF9538;
}
.detailbox:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    background-color: white;
    opacity: 0.85;
    margin-top: 50px;
}
.detailbox:before,
.detailbox:after {
  content:"";
  display:table;
  clear:both;
}
.detailbox .left {
  float: right;
  width: calc(100% - 232px);
  padding-right: 30px;
  padding-top: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.rsvp th, .rsvp td {
    text-align: center;
}
.rsvp th:first-child, .rsvp td:first-child {
    text-align: left;
}
.tooltip {
    cursor: help;
}
button {
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16pt;
}
.accomodations {
    text-align: left;
}
.accomodations .nights {
    margin-left: 10%;
}
textarea {
    padding: 5px;
    width: 100%;
    height: 10em;
}
ol, ul {
    text-align: left;
}
.text-left {
    text-align: left;
}
table.contributions td {
    border-top: 1px solid #333;
    padding: 5px 0px;
}
table.contributions th, table.contributions td {
    text-align: center;
}
table.contributions th:first-child, table.contributions td:first-child {
    border-right: 1px solid #333;
    width: 20%;
}
