<div class="section" ng-repeat="section in [1,2,3,4,5]">
    <div class="subsection">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere est sed nunc sagittis ullamcorper. Donec cursus pharetra sapien gravida auctor. Nam id neque tempor, hendrerit sapien ac, interdum ex. Phasellus a lorem id velit consectetur ornare posuere at enim. Proin vestibulum nunc at felis lacinia, quis porta libero tincidunt. Ut ac magna sodales, dignissim eros in, porta odio. Duis id est velit. Pellentesque et suscipit ante. Nullam iaculis porta quam a vehicula.
    </div>
    <hr>
</div>
