<div class="slider centeringWrapper">
    <div ng-repeat="slide in coverSlides" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-style="{'background-image':'url({{slide.image}})'}" /></div>
    <div class="next-previous-buttons">
        <div class="arrow prev" ng-click="prevSlide()"></div>
        <div class="arrow next" ng-click="nextSlide()"></div>
    </div>

</div>

<div class="centeringWrapper">
    <ul class="modal-thumbnails inline-list">
        <li ng-repeat="image in images | limitTo:4">
            <a ng-click="openLightboxModal($index)">
                <div ng-style="{'background-image':'url({{image.thumbUrl}})'}"></div>
            </a>
        </li>
    </ul>
</div>

<div class="centeringWrapper">
    <h2>Chelsea Lyn Photography</h3>
    <h3>is getting a huge digital facelift, but we're still operating!</h4>
    <br />
    <h5>Enjoy a few examples and feel free to contact us for more information:</h6>
    <br />
    <br />
    <h4><a href="mailto:chelsea@mcdevi.tt">chelsea@mcdevi.tt</a> &amp; <a href="tel:+2677896163">267-789-6163</a></h4>
</div>
